# The backend API for chat endpoint.
NEXT_PUBLIC_CHAT_API=http://localhost:8000/api/chat

# Let's the user change indexes in LlamaCloud projects
NEXT_PUBLIC_USE_LLAMACLOUD=false

# Langfuse public key
NEXT_PUBLIC_LANGFUSE_PUBLIC_KEY=
NEXT_PUBLIC_LANGFUSE_API_URL=
NEXT_PUBLIC_LANGFUSE_PRIVATE_KEY=